.chart-container {
    position: relative;
    width: 900px;
    height: 600px;
    margin: 30px auto;
  }
  
  .loader {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }